Java Advanced/src/topic_7/topic_7_4/city2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="city" type="cityType"/>
  <xs:complexType name="streetType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="house"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cityType" mixed="true">
    <xs:sequence>
      <xs:element type="streetType" name="street"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="size"/>
  </xs:complexType>
</xs:schema>